/*FONTS*/
@font-face {
    font-family: 'Virtuous-Slab';
    src: local('Virtuous-Slab'), url('fonts/Virtuous-Slab.otf') format('woff');
}


* {
    box-sizing: border-box;
}

body 
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-image: url("../assets/images/Background.png");
    background-size: cover;
    font-family: 'Virtuous-Slab';
}


/*nav-burger-menu-starts*/

.burger-menu {
    width: 40px;
    cursor: pointer;

}

#wrapper {
    margin: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
}

nav a {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #F5EDE2;
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;
    transform: color 0.2s 0.1s;
    font-family: 'Virtuous-Slab';

}

.pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.non-active-link {
    pointer-events: none;
    cursor: default;
}

nav a.categories-pages {
    font-size: 1rem;
}

nav a.active {
    border-top: 1px solid #F5EDE2;
}

.link-highlight::before {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: beige;
    transition: width 0.5s;
}

.link-highlight:hover::before {
    width: 100%;
}

nav {
    /*position: absolute;*/
    position: fixed;
    top:0;
    right: -100vw;
    background: #000;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    padding: 4rem;
    z-index: 49;
    transition: transform 1s;
}

nav.open {
    transform: translateX(-100vw);
}
.burger-menu.open {
    fill: #F5EDE2;
     z-index: 50;
}

.burger-menu rect {
    transition: all 0.2s;
    transform-origin: 50% 50%;
}

.open rect:nth-child(2) .open rect:nth-child(3) {
    transition-delay: .1s;
}

rect:nth-child(2) rect:nth-child(3) {
    transition-delay: 0s;
}

.open rect:first-child {
    transform: translateY(30px);
    opacity: 0;
}

.open rect:nth-child(2) {
    transform: rotate(45deg);
}

.open rect:nth-child(3) {
    transform: rotate(-45deg);
}

.open rect:last-child {
    transform: translateY(-30px);
    opacity: 0;
}

/*nav-burger-menu-ends*/

.heading {
    text-align: center;
    padding: 2em 0;
}

.title-paragraph {
    padding: 2em 0;
    font-size: 1em;
}

.helvetica {
    font-style: italic;
}

/* Categories - Home page */

.category-flex {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1.5em;
}

.category-image {
    padding: 1em;
}

.category-image img {
    height: 400px;
    width: 250px;
    object-fit: cover;
}

/* About - Home Page */

.about {
    padding: 2em;
}

.about-grid {
    display: grid;
    grid-template-columns: auto 80vw auto;
    grid-template-rows: auto;
    grid-gap: 0.5em;
    grid-template-areas: ". about-image ."". about-paragraph .";
}

.about-img {
    height: 50vh;
    background-image: url("../assets/images/Niels-profile.jpeg");
    background-size: cover;
    grid-area: about-image;
}

.about-paragraph {
    grid-area: about-paragraph;
}

/* Work */

.title-grid {
    display: grid;
    grid-template-columns: auto 80vw auto;
    grid-template-rows: auto;
    grid-gap: 0.5em;
}

.work-items {
    max-width: 100vw;
    padding: 1em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5em;
}

/* Work Painting/Drawing */
.pd-grid {
    grid-template-areas: ". title-pd ."". pd-paragraph .";
}

.pd-title {
    grid-area: title-pd;
}

.pd-paragraph {
    grid-area: pd-paragraph;
}

/* Work Sculpting */
.s-grid {
    grid-template-areas: ". title-s ."". s-paragraph .";
}

.s-title {
    grid-area: title-s;
}

.s-paragraph {
    grid-area: s-paragraph;
}

/* Work Filmmaking */
.fm-grid {
    grid-template-areas: ". title-fm ."". fm-paragraph .";
}

.fm-title {
    grid-area: title-fm;
}

.fm-paragraph {
    grid-area: fm-paragraph;
}

/* Work Radio Hosting */
.rh-grid {
    grid-template-areas: ". title-rh ."". rh-paragraph .";
}

.rh-title {
    grid-area: title-rh;
}

.rh-paragraph {
    grid-area: rh-paragraph;
}

/* Database content */

.work-items article {
    margin: 1em 0;
}

.work-images {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.work-s-img { 
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.container {
    position: relative;
}

figure {
    padding: 0;
    margin: 0;
}

.overlay {
    display: none;
}

.img-text {
    display: none;
}

a.overlay-link {
    height: 100%;
    width: 100%;
    display: block;
}

@media only screen and (min-width: 768px) {
    .title-heading {
        width: 40vw;
        text-align: center;
    }

    /* Database content */

    .work-items article {
        margin: 0 1em 1em 0;
    }

    .work-images {
        width: 600px;
        height: 300px;
    }
    
    .work-s-img { 
        width: 450px;
        height: 300px;
    }

    .overlay {
        display: block;
        position: absolute;
        padding: 5em;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }
    
    .img-text {
        display: block;
        opacity: 0;
        color: white;
        text-align: center;
        transition: .5s ease;
    }
    
    .img-title {
        font-size: 2em;
    }

    .container:hover .overlay {
        opacity: .8;
    }
    
    .container:hover .img-text {
        opacity: 1;
    }
}

@media screen and (min-width: 992px) {

    /* About - Home Page */

    .category-flex {
        flex-wrap: nowrap;
    }

    .about-grid {
        grid-template-columns: auto 30vw 50vw auto;
        grid-template-rows: auto;
        grid-gap: 5em;
        grid-template-areas: ". about-image about-paragraph .";
    }

    .about-img {
        height: 80vh;
    }

    .about-paragraph {
        padding: 5em 5em 5em 0;
    }

    /* Work */
    .title-grid {
        display: grid;
        grid-template-columns: auto 30vw 50vw auto;
        grid-template-rows: auto;
        grid-gap: 0.5em;
    }

    /* Work Painting/Drawing */
    .pd-grid {
        grid-template-areas: ". title-pd pd-paragraph .";
    }

    /* Work Sculpting */
    .s-grid {
        grid-template-areas: ". title-s s-paragraph .";
    }

    /* Work Filmmaking */
    .fm-grid {
        grid-template-areas: ". title-fm fm-paragraph .";
    }

    /* Work Radio Hosting */
    .rh-grid {
        grid-template-areas: ". title-rh rh-paragraph .";
    }

}